body {
	background-color: #f5f5dc;
	color: black;
	text-align: center;
	font-family: sans-serif;
}

input[type=text], input[type=password] {
	background-color: white;
	color: blue;
	border: orange 2px inset;
	border-radius: 10px;
	min-width: 200px;
}

input[type=submit] {
	background-color: blue;
	color: white;
	border: lightblue 4px outset;
	border-radius: 10px;
	min-width: 200px;
}

select {
	background-color: white;
	color: blue;
	border: orange 2px inset;
	border-radius: 10px;
	min-width: 200px;
}

div#error {
	background-color: red;
	color: white;
	font-weight: bold;
}

span#success {
	background-color: green;
	color: white;
	font-weight: bold;
	border: solid 2px black;
	padding: 10px;
}

span.contact {
	color: darkgrey;
	font-weight: normal;
}

span.contact a {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

