body {
	background-color: black;
	color: green;
	text-align: center;
	font-family: monospace;
}

input[type=text], input[type=password] {
	background-color: black;
	color: green;
	border: green 2px inset;
	border-radius: 10px;
	min-width: 200px;
}

input[type=submit] {
	background-color: green;
	color: black;
	border: green 4px outset;
	border-radius: 10px;
	min-width: 200px;
}

select {
	background-color: black;
	color: green;
	border: green 2px inset;
	border-radius: 10px;
	min-width: 200px;
}

div#error {
	background-color: black;
	color: red;
	font-weight: bold;
}

span#success {
	background-color: black;
	color: lightblue;
	font-weight: bold;
	border: solid 2px lightblue;
	padding: 10px;
}

span.contact {
	color: green;
	font-weight: normal;
}

span.contact a {
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

